<div class="container">
  <div class="row">
    <div class="col">
      <h3>Name: {{celebrities.name}}</h3>
      <h3>Occupation: {{celebrities.occupation}}</h3>
      <h3>Cath Phrase: {{celebrities.catchPhrase}}</h3>

      <p><a class="btn btn-outline-info btn-sm" href="/celebrities">Return</a></p>
    </div>
  </div>
</div>