<div class="container">
  <div class="row">
    <div class="col">
      <p><a class="btn btn-outline-info btn-sm" href="/movie/new/">ADD</a></p>

      {{#each movies}}
      <form action="/movies/{{_id}}" method="POST">
        <p>
          <a class="btn btn-outline-secondary btn-sm" href="/movies/{{this.id}}">{{this.title}}</a>
          <a class="btn btn-outline-info btn-sm" href="/movies/{{this.id}}/edit">EDIT</a>
          <button class="btn btn-outline-info btn-sm" type="submit">REMOVE</button>
        </p>
      </form>
      {{/each}}
      <p><a class="btn btn-outline-info btn-sm" href="/">Return</a></p>
    </div>
  </div>
</div>