<div class="container">
  <div class="row">
    <div class="col">
      <h3>Title: {{movies.title}}</h3>
      <h3>Genre: {{movies.genre}}</h3>
      <h3>Plot: {{movies.plot}}</h3>

      <p><a class="btn btn-outline-info btn-sm" href="/movies">Return</a></p>
    </div>
  </div>
</div>