<div class="container">
  <div class="row">
    <div class="col">
      <h1>LAB - Mongoose Movies</h1>
      <p><a class="btn btn-outline-info btn-sm mt-4" href="/celebrities">Celebrities</a></p>
      <p><a class="btn btn-outline-info btn-sm" href="/movies">Movies</a></p>
    </div>
  </div>
</div>